Repository Association-Rezel/sadh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildfrontend, buildbackend, deploybackend, deployfrontend

.gitlab-ci.yml:

default:
  image: docker:24.0

stages:
  - pre_checks
  - build
  - deploy

variables:
  FRONT_IMAGE_TAG: $CI_REGISTRY_IMAGE/sadh-front:$CI_COMMIT_SHORT_SHA-$DEPLOY_ENV
  BACK_IMAGE_TAG: $CI_REGISTRY_IMAGE/sadh-back:$CI_COMMIT_SHORT_SHA-$DEPLOY_ENV

linting:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: pre_checks
  image: registry.gitlab.com/pipeline-components/black:latest
  script:
    - black --version
    - black --check --verbose --diff --color -- .

# From https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko
buildfrontend:
  stage: build
  rules:
    - changes:
        - front/**/*
      if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - front/**/*
      variables:
        DEPLOY_ENV: "dev"
    - when: never # Do not run if not needed (no changes in back)
  image:
    name: gcr.io/kaniko-project/executor:v1.23.0-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/front"
      --dockerfile "${CI_PROJECT_DIR}/front/Dockerfile"
      --destination "${FRONT_IMAGE_TAG}"
      --build-arg mode=${DEPLOY_ENV}

# From https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko
buildbackend:
  stage: build
  rules:
    - changes:
        - back/**/*
      if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - back/**/*
      variables:
        DEPLOY_ENV: "dev"
    - when: never # Do not run if not needed (no changes in back)
  image:
    name: gcr.io/kaniko-project/executor:v1.23.0-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/back"
      --dockerfile "${CI_PROJECT_DIR}/back/Dockerfile"
      --destination "${BACK_IMAGE_TAG}"

deploybackend:
  stage: deploy
  rules:
    - changes:
        - back/**/*
      if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
        DEPLOY_NAMESPACE: "default"
    - changes:
        - back/**/*
      variables:
        DEPLOY_ENV: "dev"
        DEPLOY_NAMESPACE: "dev"
    - when: never
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    # Substitute environment variables in Kubernetes manifests
    - mkdir back/k8s-envsubst
    - |
      for file in back/k8s/*.yaml; do
        envsubst < $file | tee back/k8s-envsubst/$(basename $file)
      done
    # Apply Kubernetes manifests
    - kubectl config use-context fai/k8s-cluster:main-k8s-agent
    - kubectl apply -f back/k8s-envsubst/
    # Clean up
    - rm -rf back/k8s-envsubst

deployfrontend:
  stage: deploy
  rules:
    - changes:
        - front/**/*
      if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
        DEPLOY_NAMESPACE: "default"
    - changes:
        - front/**/*
      variables:
        DEPLOY_ENV: "dev"
        DEPLOY_NAMESPACE: "dev"
    - when: never
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    # Substitute environment variables in Kubernetes manifests
    - mkdir front/k8s-envsubst
    - |
      for file in front/k8s/*.yaml; do
        envsubst < $file | tee front/k8s-envsubst/$(basename $file)
      done
    # Apply Kubernetes manifests
    - kubectl config use-context fai/k8s-cluster:main-k8s-agent
    - kubectl apply -f front/k8s-envsubst/
    # Clean up
    - rm -rf front/k8s-envsubst

Feat: add port forwarding and opening sections to Unet profile
  front/src/components/AdminDashboard/User/UnetSection.tsx
Due: buildfrontend, deployfrontend

Phone Number Verification
  back/back/core/status_update.py
  back/back/env.py
  back/back/messaging/sms.py
  back/back/mongodb/user_com_models.py
  back/back/server/builder.py
  back/back/server/routers/features.py
  back/back/server/routers/users.py
  back/k8s/deployment.yaml
  back/requirements.txt
  front/src/App.tsx
  front/src/components/AdminDashboard/User/PhoneSection.tsx
  front/src/components/AdminDashboard/User/User.tsx
  front/src/components/Appointment/AppointmentSlotList.tsx
  front/src/components/MembershipRequest/CheckPhoneNumber.tsx
  front/src/components/MembershipRequest/FTTHMembershipForm.tsx
  front/src/pages/appointment/PageAppointment.tsx
  front/src/utils/Api.ts
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix typo cotisation mois -> an
  front/src/components/MembershipRequest/PendingMembershipValidation.tsx
Due: buildfrontend, deployfrontend

feat: add banner for the Telecom Paris student discount
  front/src/components/Pricing/Pricing.tsx
Due: buildfrontend, deployfrontend

fix sonarqube: from randint to randbelow
  back/back/server/routers/users.py
Due: buildbackend, deploybackend

fix: sms quota
  back/back/env.py
  back/back/messaging/sms.py
  back/back/server/routers/users.py
  front/src/components/MembershipRequest/CheckPhoneNumber.tsx
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

feat : Intégration hello asso checkout
  back/back/core/helloasso.py
  back/back/core/helloasso_models.py
  back/back/env.py
  back/back/server/builder.py
  back/back/server/routers/helloasso.py
  back/back/server/routers/users.py
  back/k8s/deployment.yaml
  back/requirements.txt
  front/public/static/bouton_payer_helloasso/logo-cb.svg
  front/public/static/bouton_payer_helloasso/logo-ha.svg
  front/public/static/bouton_payer_helloasso/logo-mastercard.svg
  front/public/static/bouton_payer_helloasso/logo-pci.svg
  front/public/static/bouton_payer_helloasso/logo-visa.svg
  front/src/App.tsx
  front/src/components/MembershipRequest/FTTHMembershipForm.tsx
  front/src/components/MembershipRequest/HelloAssoCheckoutCallback.tsx
  front/src/components/MembershipRequest/HelloassoPayment.tsx
  front/src/components/MembershipRequest/PendingMembershipValidation.tsx
  front/src/components/MembershipRequest/WifiMembershipForm.tsx
  front/src/utils/Api.ts
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

Correction du port indiqué par makefile
  Makefile
  front/src/components/MembershipRequest/PendingMembershipValidation.tsx
Due: buildfrontend, deployfrontend

fix: maj RI + lien status
  front/public/static/RI_Rezel.pdf
  front/src/components/MembershipRequest/PendingMembershipValidation.tsx
Due: buildfrontend, deployfrontend

Paiements Multi Item
  back/back/core/helloasso.py
  back/back/core/helloasso_items.py
  back/back/core/helloasso_models.py
  back/back/env.py
  back/back/server/routers/helloasso.py
  back/back/server/routers/users.py
  front/src/components/MembershipRequest/HelloassoPayment.tsx
  front/src/components/MembershipRequest/PendingMembershipValidation.tsx
  front/src/components/MembershipRequest/PurchaseSelect.tsx
  front/src/utils/Api.ts
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix: update unet transfer logic to handle VLAN conflicts
  back/back/server/routers/net.py
Due: buildbackend, deploybackend

feat: remove payment method form
  back/back/core/helloasso_items.py
  back/back/mongodb/user_com_models.py
  back/back/server/routers/users.py
  back/requirements.txt
  front/src/components/MembershipRequest/FTTHMembershipForm.tsx
  front/src/components/MembershipRequest/PendingMembershipValidation.tsx
  front/src/components/MembershipRequest/WifiMembershipForm.tsx
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

add resiliation page
  front/src/App.tsx
  front/src/components/AccountDashboard/AccountDashboard.tsx
  front/src/pages/account/PageResiliation.tsx
Due: buildfrontend, deployfrontend

feat: Added a button to disable user's internet
  back/back/core/status_update.py
  back/back/server/routers/users.py
  back/requirements.txt
  front/src/components/AdminDashboard/User/UnetSection.tsx
  front/src/utils/Api.ts
  front/src/utils/types/hermes_types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

feat_connected_device: show devices connected to your box in your account page
  back/back/env.py
  back/back/server/routers/users.py
  back/requirements.txt
  front/package-lock.json
  front/src/App.tsx
  front/src/components/AccountDashboard/AccountDashboard.tsx
  front/src/pages/account/settings/ConnectedDevices.tsx
  front/src/utils/Api.ts
  front/src/utils/types/faistos_types.ts
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

prettify UI for Dashboard and IPAM Logs pages
  front/src/components/AdminDashboard/Dashboard/Dashboards.tsx
  front/src/components/AdminDashboard/Logs/IpamLogs.tsx
Due: buildfrontend, deployfrontend

fix double overflow y admin page
  front/src/components/Users/TableUsers.tsx
Due: buildfrontend, deployfrontend

feat: Dolibarr automation integration / factures
  back/back/__init__.py
  back/back/core/auto_invoicing.py
  back/back/core/dolibarr.py
  back/back/core/helloasso.py
  back/back/core/helloasso_items.py
  back/back/core/helloasso_models.py
  back/back/core/overdue.py
  back/back/core/partial_refunds.py
  back/back/core/status_update.py
  back/back/env.py
  back/back/messaging/mails.py
  back/back/messaging/sms.py
  back/back/server/__init__.py
  back/back/server/builder.py
  back/back/server/routers/helloasso.py
  back/back/server/routers/overdue.py
  back/back/server/routers/payments.py
  back/back/server/routers/users.py
  front/src/App.tsx
  front/src/components/AccountDashboard/AccountDashboard.tsx
  front/src/components/AdminDashboard/AdminDashboard.tsx
  front/src/components/AdminDashboard/Overdue/Overdue.tsx
  front/src/components/AdminDashboard/User/MembershipSection.tsx
  front/src/components/AdminDashboard/User/StatusUpdateSection.tsx
  front/src/components/MembershipRequest/HelloAssoCheckoutCallback.tsx
  front/src/components/MembershipRequest/HelloassoPayment.tsx
  front/src/components/MembershipRequest/PendingMembershipValidation.tsx
  front/src/components/MembershipRequest/PurchaseSelect.tsx
  front/src/pages/account/PagePayments.tsx
  front/src/utils/Api.ts
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

refactor: remove sadh tag
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

fix: subscription_end for wifi subscription
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

revert subscription_end: membership_end
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

fix: subscription_end and overdue page for wifi subscription
  back/back/core/dolibarr.py
  back/back/core/overdue.py
Due: buildbackend, deploybackend

feat: add trigger job to calcul overdue
  back/back/server/routers/overdue.py
  front/src/components/AdminDashboard/Overdue/Overdue.tsx
  front/src/utils/Api.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix: count month from december if membership started earlier
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

fix: compare datetimes without tz info
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

fix: fix linting
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

fix: adjust subscription overdue logic to start from Dec 2025 baseline
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

Add login CTA on payments page
  front/src/App.tsx
  front/src/pages/account/PagePayments.tsx
Due: buildfrontend, deployfrontend

fix linting
  front/src/pages/account/PagePayments.tsx
Due: buildfrontend, deployfrontend

Creation du mail erratum
  back/back/templates/emails/payment_reminder.html
  back/back/templates/emails/payment_reminder.html.origin
Due: buildbackend, deploybackend

hotfix: hide payment page
  front/src/pages/account/PagePayments.tsx
Due: buildfrontend, deployfrontend

Feat/inactive date pending inactive
  back/back/core/dolibarr.py
  back/back/core/status_update.py
  back/back/mongodb/user_com_models.py
  back/back/server/routers/users.py
  back/requirements.txt
  front/src/components/AdminDashboard/User/MembershipSection.tsx
  front/src/utils/Api.ts
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

hotfix: confirm modal before reminding overdue
  front/src/components/AdminDashboard/Overdue/Overdue.tsx
Due: buildfrontend, deployfrontend

fix: linting
  front/src/components/AdminDashboard/Overdue/Overdue.tsx
Due: buildfrontend, deployfrontend

fix: handle subscription ended in dolibarr
  back/back/core/dolibarr.py
  back/back/core/overdue.py
  back/back/server/routers/payments.py
  front/src/components/AdminDashboard/User/MembershipSection.tsx
  front/src/utils/Api.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix linting
  back/back/core/dolibarr.py
  back/back/core/overdue.py
  front/src/components/AdminDashboard/User/MembershipSection.tsx
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix: compute_subscription_info
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

PagePayments back functionnal
  back/back/templates/emails/payment_reminder.html
  back/back/templates/emails/payment_reminder.html.origin
  front/src/pages/account/PagePayments.tsx
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

hide abandonned invoces in PagePayments
  front/src/pages/account/PagePayments.tsx
Due: buildfrontend, deployfrontend
