Repository Association-Rezel/sadh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildfrontend, buildbackend, deploybackend, deployfrontend

.gitlab-ci.yml:

default:
  image: docker:24.0

stages:
  - build
  - deploy

variables:
  FRONT_IMAGE_TAG: $CI_REGISTRY_IMAGE/sadh-front:$CI_COMMIT_SHORT_SHA
  BACK_IMAGE_TAG: $CI_REGISTRY_IMAGE/sadh-back:$CI_COMMIT_SHORT_SHA

# From https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko
buildfrontend:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH =~ $CI_DEFAULT_BRANCH
      changes:
        - front/**
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - front/**
      variables:
        DEPLOY_ENV: "dev"
  environment: # Gitlab environment for Gitlab CI/CD variables
    name: $DEPLOY_ENV
  image:
    name: gcr.io/kaniko-project/executor:v1.23.0-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/front"
      --dockerfile "${CI_PROJECT_DIR}/front/Dockerfile"
      --destination "${FRONT_IMAGE_TAG}"
      --build-arg mode=${DEPLOY_ENV}

# From https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko
buildbackend:
  stage: build
  rules:
    - changes:
        - back/**
      if: $CI_COMMIT_BRANCH =~ $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - back/**
      variables:
        DEPLOY_ENV: "dev"
  image:
    name: gcr.io/kaniko-project/executor:v1.23.0-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/back"
      --dockerfile "${CI_PROJECT_DIR}/back/Dockerfile"
      --destination "${BACK_IMAGE_TAG}"

deploybackend:
  stage: deploy
  rules:
    - changes:
        - back/**
      if: $CI_COMMIT_BRANCH =~ $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - back/**
      variables:
        DEPLOY_ENV: "dev"
      when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    # Substitute environment variables in Kubernetes manifests
    - mkdir back/k8s-envsubst
    - |
      for file in back/k8s/*.yaml; do
        envsubst < $file | tee back/k8s-envsubst/$(basename $file)
      done
    # Apply Kubernetes manifests
    - kubectl config use-context fai/k8s-cluster:main-k8s-agent
    - kubectl apply -f back/k8s-envsubst/
    # Clean up
    - rm -rf back/k8s-envsubst

deployfrontend:
  stage: deploy
  rules:
    - changes:
        - front/**
      if: $CI_COMMIT_BRANCH =~ $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - front/**
      variables:
        DEPLOY_ENV: "dev"
      when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    # Substitute environment variables in Kubernetes manifests
    - mkdir front/k8s-envsubst
    - |
      for file in front/k8s/*.yaml; do
        envsubst < $file | tee front/k8s-envsubst/$(basename $file)
      done
    # Apply Kubernetes manifests
    - kubectl config use-context fai/k8s-cluster:main-k8s-agent
    - kubectl apply -f front/k8s-envsubst/
    # Clean up
    - rm -rf front/k8s-envsubst

fix: dockerfile
  front/Dockerfile
Due: buildfrontend, deployfrontend

Remove Zitadel from README
  README.md
Due: none

feat: satisfaction survey at the end of membership
  back/back/core/status_update.py
  back/back/messaging/mails.py
  back/back/templates/emails/satisfaction_survey.html
Due: none

chore: remove old zitadel block
  back/k8s/deployment.yaml
Due: none

fix: bad method typing
  back/back/core/oidc.py
Due: none

fix: wifi unet removal logging + refund tracking
  back/back/core/status_update.py
  back/back/server/routers/users.py
Due: none

fix: email error + email link in html
  back/back/templates/emails/appointment_validated.html
  back/back/templates/emails/new_adherent_on_box.html
  back/back/templates/emails/no_more_wifi_adherent_on_box.html
  back/back/templates/emails/request_validated_ftth.html
  back/back/templates/emails/request_validated_wifi.html
Due: none

lint: cleanup k8s yaml
  back/k8s/deployment.yaml
  back/k8s/service-account.yaml
  back/k8s/service.yaml
  front/k8s/deployment.yaml
  front/k8s/service-account.yaml
  front/k8s/service.yaml
Due: none

fix: add mandatory 'type' field to document update payload
  back/back/core/documenso.py
Due: none

chore: cleanup + upgrade dockerfiles
  .gitignore
  back/Dockerfile
  front/Dockerfile
  front/TODO
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix: tag container images with env to avoid using previously built dev images in prod
  .gitlab-ci.yml
Due: none

feat: IBAN for FTTH memberships
  back/back/mongodb/user_com_models.py
  back/back/server/routers/users.py
  back/requirements.txt
  front/package-lock.json
  front/package.json
  front/src/components/AdminDashboard/User/IBANSection.tsx
  front/src/components/AdminDashboard/User/User.tsx
  front/src/components/AdminDashboard/User/UserSection.tsx
  front/src/components/MembershipRequest/FTTHMembershipForm.tsx
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix: remove non-working k8s IPv6 service address
  back/k8s/service.yaml
  front/k8s/service.yaml
Due: none

feat: auto redirect when using login/signup buttons
  front/src/pages/auth/LoginPage.tsx
Due: none

feat: enhance TableUsers component with sorting and filtering capabilities
  front/package-lock.json
  front/src/components/Users/TableUsers.tsx
  front/src/components/Users/Users.tsx
  front/src/components/utils/SelectableTableCell.tsx
  front/vite.config.ts
Due: buildfrontend, deployfrontend

fix: properly serialize AttachedWifiAdherent list to database upon stopping membership
  back/back/core/status_update.py
Due: none

Update Statuts and RIB
  front/public/static/RIB_Rezel.pdf
  front/public/static/Statuts_Rezel.pdf
Due: none

fix: typo in error message
  front/src/components/NetworkSettings/PasswordResetForm.tsx
Due: none

feat: button copy mac
  front/src/components/AdminDashboard/User/UnetSection.tsx
Due: none

feat: show last successful ping in UnetSection
  front/src/components/AdminDashboard/User/UnetSection.tsx
  front/src/utils/types/hermes_types.ts
Due: none
