Repository Association-Rezel/sadh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildfrontend, buildbackend, deploybackend, deployfrontend

.gitlab-ci.yml:

default:
  image: docker:24.0

stages:
  - pre_checks
  - build
  - deploy

variables:
  FRONT_IMAGE_TAG: $CI_REGISTRY_IMAGE/sadh-front:$CI_COMMIT_SHORT_SHA-$DEPLOY_ENV
  BACK_IMAGE_TAG: $CI_REGISTRY_IMAGE/sadh-back:$CI_COMMIT_SHORT_SHA-$DEPLOY_ENV

linting:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: pre_checks
  image: registry.gitlab.com/pipeline-components/black:latest
  script:
    - black --version
    - black --check --verbose --diff --color -- .

# From https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko
buildfrontend:
  stage: build
  rules:
    - changes:
        - front/**/*
      if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - front/**/*
      variables:
        DEPLOY_ENV: "dev"
    - when: never # Do not run if not needed (no changes in back)
  image:
    name: gcr.io/kaniko-project/executor:v1.23.0-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/front"
      --dockerfile "${CI_PROJECT_DIR}/front/Dockerfile"
      --destination "${FRONT_IMAGE_TAG}"
      --build-arg mode=${DEPLOY_ENV}

# From https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko
buildbackend:
  stage: build
  rules:
    - changes:
        - back/**/*
      if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - back/**/*
      variables:
        DEPLOY_ENV: "dev"
    - when: never # Do not run if not needed (no changes in back)
  image:
    name: gcr.io/kaniko-project/executor:v1.23.0-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/back"
      --dockerfile "${CI_PROJECT_DIR}/back/Dockerfile"
      --destination "${BACK_IMAGE_TAG}"

deploybackend:
  stage: deploy
  rules:
    - changes:
        - back/**/*
      if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
        DEPLOY_NAMESPACE: "default"
    - changes:
        - back/**/*
      variables:
        DEPLOY_ENV: "dev"
        DEPLOY_NAMESPACE: "dev"
    - when: never
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    # Substitute environment variables in Kubernetes manifests
    - mkdir back/k8s-envsubst
    - |
      for file in back/k8s/*.yaml; do
        envsubst < $file | tee back/k8s-envsubst/$(basename $file)
      done
    # Apply Kubernetes manifests
    - kubectl config use-context fai/k8s-cluster:main-k8s-agent
    - kubectl apply -f back/k8s-envsubst/
    # Clean up
    - rm -rf back/k8s-envsubst

deployfrontend:
  stage: deploy
  rules:
    - changes:
        - front/**/*
      if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
        DEPLOY_NAMESPACE: "default"
    - changes:
        - front/**/*
      variables:
        DEPLOY_ENV: "dev"
        DEPLOY_NAMESPACE: "dev"
    - when: never
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    # Substitute environment variables in Kubernetes manifests
    - mkdir front/k8s-envsubst
    - |
      for file in front/k8s/*.yaml; do
        envsubst < $file | tee front/k8s-envsubst/$(basename $file)
      done
    # Apply Kubernetes manifests
    - kubectl config use-context fai/k8s-cluster:main-k8s-agent
    - kubectl apply -f front/k8s-envsubst/
    # Clean up
    - rm -rf front/k8s-envsubst

fix: .fai to .core and gitlab group name
  .gitlab-ci.yml
  README.md
  back/requirements.txt
Due: buildbackend, deploybackend

feat: add message when monitoring data is obselete
  front/src/components/AdminDashboard/User/ONTSection.tsx
  front/src/components/AdminDashboard/User/UnetSection.tsx
Due: buildfrontend, deployfrontend

fix: send email authenticated
  back/back/env.py
  back/back/messaging/mails.py
  back/k8s/deployment.yaml
Due: buildbackend, deploybackend

edit: update RIB for dolibarr
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

fix: update dolibarr options
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

feat: add fai user page link in dolibarr
  back/back/core/dolibarr.py
Due: buildbackend, deploybackend

feat: Allow tresoriers to one tap partial refunds
  back/back/server/routers/users.py
  front/src/components/PartialRefunds/PartialRefunds.tsx
  front/src/utils/RemoteApi.ts
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix: nix response handling
  front/src/utils/Api.ts
Due: buildfrontend, deployfrontend

fix: update membership status
  front/src/utils/Api.ts
Due: buildfrontend, deployfrontend

fix: POST to update the box
  front/src/utils/Api.ts
Due: buildfrontend, deployfrontend

misc: publish to Github
  .gitlab-ci.yml
  sonar-project.properties
Due: none

cleanup: remove old readmes
  back/README.md
  front/README.md
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix: HTTP method for transferUnet in frontend
  front/src/utils/Api.ts
Due: buildfrontend, deployfrontend

fix: HTTP method for refreshContract in frontend
  front/src/utils/Api.ts
Due: buildfrontend, deployfrontend

fix: HTTP method for transferDevices in frontend
  front/src/utils/Api.ts
Due: buildfrontend, deployfrontend

fix: HTTP method for forceOntRegistration in frontend
  front/src/utils/Api.ts
Due: buildfrontend, deployfrontend

feat: allow defining and updating ptah profile
  .gitlab-ci.yml
  back/back/core/hermes.py
  back/back/env.py
  back/back/server/builder.py
  back/back/server/routers/__init__.py
  back/back/server/routers/devices.py
  back/back/server/routers/ptah.py
  back/back/server/routers/users.py
  back/back/utils/K8sVaultTokenProcessing.py
  back/k8s/deployment.yaml
  back/requirements.txt
  front/src/App.tsx
  front/src/components/AdminDashboard/AdminDashboard.tsx
  front/src/components/AdminDashboard/Ptah/Ptah.tsx
  front/src/components/AdminDashboard/User/UnetSection.tsx
  front/src/utils/Api.ts
  front/src/utils/types/hermes_types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

edit: update RI and statuts
  front/public/static/RI_Rezel.pdf
  front/public/static/Statuts_Rezel.pdf
Due: buildfrontend, deployfrontend

feat add barcode
  front/package-lock.json
  front/package.json
  front/src/components/AdminDashboard/User/ONTSection.tsx
  front/src/components/AdminDashboard/User/QRCodeScannerDialog_zbar.tsx
  front/src/components/AdminDashboard/User/UnetSection.tsx
  front/src/utils/types/ zbar-wasm.d.ts
Due: buildfrontend, deployfrontend

feat: migrate adherent abonne
  back/back/core/dolibarr.py
  back/back/core/status_update.py
  back/back/messaging/mails.py
  back/back/mongodb/user_com_models.py
  back/back/server/routers/users.py
  back/back/templates/emails/new_adherent_on_box.html
  back/back/templates/emails/no_more_wifi_adherent_on_box.html
  back/back/templates/emails/request_validated_ftth.html
  back/back/templates/emails/request_validated_wifi.html
  back/back/templates/emails/satisfaction_survey.html
  back/requirements.txt
  front/src/components/AdminDashboard/AdminDashboard.tsx
  front/src/components/AdminDashboard/User/MembershipSection.tsx
  front/src/components/AdminDashboard/User/PartialRefunds/PartialRefundSection.tsx
  front/src/components/AdminDashboard/User/StatusUpdateSection.tsx
  front/src/components/AdminDashboard/User/User.tsx
  front/src/components/MembershipRequest/FTTHMembershipForm.tsx
  front/src/components/MembershipRequest/PendingMembershipValidation.tsx
  front/src/components/MembershipRequest/WifiMembershipForm.tsx
  front/src/components/NetworkSettings/MyNetworkConfigurationPage.tsx
  front/src/components/PartialRefunds/PartialRefunds.tsx
  front/src/components/Pricing/Pricing.tsx
  front/src/components/Users/TableUsers.tsx
  front/src/pages/pages.ts
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend

fix message format S/N ONT
  front/src/components/AdminDashboard/User/ONTSection.tsx
Due: buildfrontend, deployfrontend

Local env: default ptah profile list
  back/back/server/routers/ptah.py
Due: buildbackend, deploybackend

Fix typo
  front/src/components/MembershipRequest/PendingMembershipValidation.tsx
Due: buildfrontend, deployfrontend

Feat: add scholarship student
  back/back/core/scholarship_student.py
  back/back/core/status_update.py
  back/back/mongodb/user_com_models.py
  back/back/server/routers/users.py
  back/requirements.txt
  front/src/App.tsx
  front/src/components/AdminDashboard/AdminDashboard.tsx
  front/src/components/AdminDashboard/User/MembershipSection.tsx
  front/src/components/ScholarshipStudent/ScholarshipStudent.tsx
  front/src/utils/Api.ts
  front/src/utils/types/types.ts
Due: buildfrontend, buildbackend, deploybackend, deployfrontend
