Repository Association-Rezel/sadh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildfrontend, buildbackend, deploybackend, deployfrontend

.gitlab-ci.yml:

default:
  image: docker:24.0

stages:
  - build
  - deploy

variables:
  FRONT_IMAGE_TAG: $CI_REGISTRY_IMAGE/sadh-front:$CI_COMMIT_SHORT_SHA
  BACK_IMAGE_TAG: $CI_REGISTRY_IMAGE/sadh-back:$CI_COMMIT_SHORT_SHA

# From https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko
buildfrontend:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH =~ $CI_DEFAULT_BRANCH
      changes:
        - front/**
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - front/**
      variables:
        DEPLOY_ENV: "dev"
  environment: # Gitlab environment for Gitlab CI/CD variables
    name: $DEPLOY_ENV
  image:
    name: gcr.io/kaniko-project/executor:v1.23.0-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/front"
      --dockerfile "${CI_PROJECT_DIR}/front/Dockerfile"
      --destination "${FRONT_IMAGE_TAG}"
      --build-arg mode=${DEPLOY_ENV}

# From https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko
buildbackend:
  stage: build
  rules:
    - changes:
        - back/**
      if: $CI_COMMIT_BRANCH =~ $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - back/**
      variables:
        DEPLOY_ENV: "dev"
  image:
    name: gcr.io/kaniko-project/executor:v1.23.0-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/back"
      --dockerfile "${CI_PROJECT_DIR}/back/Dockerfile"
      --destination "${BACK_IMAGE_TAG}"

deploybackend:
  stage: deploy
  rules:
    - changes:
        - back/**
      if: $CI_COMMIT_BRANCH =~ $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - back/**
      variables:
        DEPLOY_ENV: "dev"
      when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    # Substitute environment variables in Kubernetes manifests
    - mkdir back/k8s-envsubst
    - |
      for file in back/k8s/*.yaml; do
        envsubst < $file | tee back/k8s-envsubst/$(basename $file)
      done
    # Apply Kubernetes manifests
    - kubectl config use-context fai/k8s-cluster:main-k8s-agent
    - kubectl apply -f back/k8s-envsubst/
    # Clean up
    - rm -rf back/k8s-envsubst

deployfrontend:
  stage: deploy
  rules:
    - changes:
        - front/**
      if: $CI_COMMIT_BRANCH =~ $CI_DEFAULT_BRANCH
      variables:
        DEPLOY_ENV: "prod"
    - changes:
        - front/**
      variables:
        DEPLOY_ENV: "dev"
      when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    # Substitute environment variables in Kubernetes manifests
    - mkdir front/k8s-envsubst
    - |
      for file in front/k8s/*.yaml; do
        envsubst < $file | tee front/k8s-envsubst/$(basename $file)
      done
    # Apply Kubernetes manifests
    - kubectl config use-context fai/k8s-cluster:main-k8s-agent
    - kubectl apply -f front/k8s-envsubst/
    # Clean up
    - rm -rf front/k8s-envsubst

fix: label display issue
  front/src/components/AdminDashboard/User/UnetSection.tsx
Due: none

fix: UI improvement
  front/src/components/AdminDashboard/User/UnetSection.tsx
Due: none

refactor: cleanup & python version bump
  .vscode/extensions.json
  .vscode/settings.json
  all.code-workspace
  back/.vscode/settings.json
  back/Dockerfile
  back/back/core/dolibarr.py
  back/back/core/status_update.py
  back/back/core/zitadel.py
  back/back/mongodb/base.py
  back/back/mongodb/hermes_models.py
  back/back/mongodb/ipam_models.py
  back/back/mongodb/log_models.py
  back/back/mongodb/pon_models.py
  back/back/mongodb/user_models.py
  back/back/server/routers/logging.py
  back/back/server/routers/net.py
  back/back/server/routers/pms.py
  back/requirements.txt
  infra/docker-compose.yaml
Due: buildbackend, deploybackend

refactor: cleanup & python version bump
  .env.prod
  .vscode/extensions.json
  .vscode/settings.json
  all.code-workspace
  back/.vscode/settings.json
  back/Dockerfile
  back/back/core/dolibarr.py
  back/back/core/status_update.py
  back/back/core/zitadel.py
  back/back/mongodb/base.py
  back/back/mongodb/hermes_models.py
  back/back/mongodb/ipam_models.py
  back/back/mongodb/log_models.py
  back/back/mongodb/pon_models.py
  back/back/mongodb/user_models.py
  back/back/server/routers/logging.py
  back/back/server/routers/net.py
  back/back/server/routers/pms.py
  back/requirements.txt
  infra/docker-compose.yaml
Due: buildbackend, deploybackend

feat: unet settings & main_unet_id in MembershipInitialization
  .vscode/settings.json
  Makefile
  README.md
  back/back/core/hermes.py
  back/back/mongodb/base.py
  back/back/mongodb/hermes_models.py
  back/back/mongodb/user_models.py
  back/back/server/routers/devices.py
  back/back/server/routers/net.py
  back/back/server/routers/users.py
  front/package-lock.json
  front/package.json
  front/src/App.tsx
  front/src/components/AccountDashboard/AccountDashboard.tsx
  front/src/components/AdminDashboard/AdminDashboard.tsx
  front/src/components/AdminDashboard/User/UnetSection.tsx
  front/src/components/Box/BoxConfig.tsx
  front/src/components/Box/DNSForm.tsx
  front/src/components/Box/FirewallForm.tsx
  front/src/components/Box/PasswordResetForm.tsx
  front/src/components/Box/SSIDResetForm.tsx
  front/src/components/MembershipRequest/WifiMembershipForm.tsx
  front/src/components/utils/PopupForm.tsx
  front/src/index.css
  front/src/pages/account/Chart.tsx
  front/src/pages/account/PageAccueil.tsx
  front/src/pages/account/settings/PageSettings.tsx
  front/src/utils/RemoteApi.ts
  front/src/utils/types/types.ts
Due: buildfrontend, deployfrontend

refactor: hermes models typing
  back/back/core/hermes.py
  back/back/core/ipam.py
  back/back/mongodb/hermes_models.py
  back/back/mongodb/ipam_models.py
  front/src/components/Box/BoxConfig.tsx
  front/src/components/Box/FirewallForm.tsx
Due: none

feat: add DNS settings
  front/src/components/Box/BoxConfig.tsx
  front/src/components/Box/DNSForm.tsx
  front/src/components/Box/FirewallForm.tsx
  front/src/components/Box/PasswordResetForm.tsx
  front/src/components/Box/SSIDResetForm.tsx
  front/src/components/utils/PopupForm.tsx
Due: none

refactor: mongodb models as python module
  .vscode/settings.json
  README.md
  back/back/core/appointments.py
  back/back/core/documenso.py
  back/back/core/dolibarr.py
  back/back/core/geo.py
  back/back/core/hermes.py
  back/back/core/ipam.py
  back/back/core/ipam_logging.py
  back/back/core/pon.py
  back/back/core/status_update.py
  back/back/core/zitadel.py
  back/back/messaging/mails.py
  back/back/mongodb/base.py
  back/back/mongodb/hermes_models.py
  back/back/mongodb/ipam_models.py
  back/back/mongodb/log_models.py
  back/back/mongodb/pon_com_models.py
  back/back/mongodb/pon_models.py
  back/back/mongodb/user_com_models.py
  back/back/mongodb/user_models.py
  back/back/server/dependencies.py
  back/back/server/routers/appointments.py
  back/back/server/routers/devices.py
  back/back/server/routers/documenso.py
  back/back/server/routers/logging.py
  back/back/server/routers/net.py
  back/back/server/routers/pms.py
  back/back/server/routers/users.py
  back/requirements.txt
Due: buildbackend, deploybackend

Revert "refactor: mongodb models as python module"
  .vscode/settings.json
  README.md
  back/back/core/appointments.py
  back/back/core/documenso.py
  back/back/core/dolibarr.py
  back/back/core/geo.py
  back/back/core/hermes.py
  back/back/core/ipam.py
  back/back/core/ipam_logging.py
  back/back/core/pon.py
  back/back/core/status_update.py
  back/back/core/zitadel.py
  back/back/messaging/mails.py
  back/back/mongodb/base.py
  back/back/mongodb/hermes_models.py
  back/back/mongodb/ipam_models.py
  back/back/mongodb/log_models.py
  back/back/mongodb/pon_com_models.py
  back/back/mongodb/pon_models.py
  back/back/mongodb/user_com_models.py
  back/back/mongodb/user_models.py
  back/back/server/dependencies.py
  back/back/server/routers/appointments.py
  back/back/server/routers/devices.py
  back/back/server/routers/documenso.py
  back/back/server/routers/logging.py
  back/back/server/routers/net.py
  back/back/server/routers/pms.py
  back/back/server/routers/users.py
  back/requirements.txt
Due: buildbackend, deploybackend

refactor: mongodb models as python module v2
  .vscode/settings.json
  README.md
  back/back/core/appointments.py
  back/back/core/documenso.py
  back/back/core/dolibarr.py
  back/back/core/geo.py
  back/back/core/hermes.py
  back/back/core/ipam.py
  back/back/core/ipam_logging.py
  back/back/core/pon.py
  back/back/core/status_update.py
  back/back/core/zitadel.py
  back/back/messaging/mails.py
  back/back/mongodb/base.py
  back/back/mongodb/hermes_models.py
  back/back/mongodb/ipam_models.py
  back/back/mongodb/log_models.py
  back/back/mongodb/pon_com_models.py
  back/back/mongodb/pon_models.py
  back/back/mongodb/user_com_models.py
  back/back/mongodb/user_models.py
  back/back/server/dependencies.py
  back/back/server/routers/appointments.py
  back/back/server/routers/devices.py
  back/back/server/routers/documenso.py
  back/back/server/routers/logging.py
  back/back/server/routers/net.py
  back/back/server/routers/pms.py
  back/back/server/routers/users.py
  back/requirements.txt
Due: buildbackend, deploybackend

fix: remove non-existent field in the backend
  front/src/utils/types/pon_types.ts
Due: none

feat: magic user searchbar now includes box & ONT fields
  back/back/server/routers/devices.py
  front/src/components/Users/Users.tsx
  front/src/utils/RemoteApi.ts
  front/src/utils/types/pon_types.ts
  front/src/utils/types/types.ts
Due: none

feat: partial refunds dashboard
  back/back/core/geo.py
  back/back/core/partial_refunds.py
  back/back/core/status_update.py
  back/back/mongodb/user_com_models.py
  back/back/server/routers/net.py
  back/back/server/routers/partial_refunds.py
  back/back/server/routers/users.py
  back/requirements.txt
  front/src/App.tsx
  front/src/components/AccountDashboard/AccountDashboard.tsx
  front/src/components/AdminDashboard/AdminDashboard.tsx
  front/src/components/AdminDashboard/User/MembershipSection.tsx
  front/src/components/AdminDashboard/User/PartialRefunds/AttachedAdherents.tsx
  front/src/components/AdminDashboard/User/PartialRefunds/PartialRefundSection.tsx
  front/src/components/AdminDashboard/User/UnetSection.tsx
  front/src/components/AdminDashboard/User/User.tsx
  front/src/components/AdminDashboard/User/UserSection.tsx
  front/src/components/NetworkSettings/DNSForm.tsx
  front/src/components/NetworkSettings/FirewallForm.tsx
  front/src/components/NetworkSettings/MyNetworkConfigurationPage.tsx
  front/src/components/NetworkSettings/PasswordResetForm.tsx
  front/src/components/NetworkSettings/SSIDResetForm.tsx
  front/src/components/PartialRefunds/PartialRefunds.tsx
  front/src/components/utils/ConfirmableButton.tsx
  front/src/pages/account/Deposits.tsx
  front/src/pages/account/Orders.tsx
  front/src/pages/account/PageAccueil.tsx
  front/src/pages/account/PageAdherent.tsx
  front/src/pages/account/PageBankSettings.tsx
  front/src/pages/account/PageNetworkSettings.tsx
  front/src/pages/account/Title.tsx
  front/src/pages/account/listItems.tsx
  front/src/pages/account/settings/PageSettings.tsx
  front/src/utils/RemoteApi.ts
  front/src/utils/types/types.ts
Due: buildbackend, deploybackend

fix: update requirement common-models
  back/requirements.txt
Due: buildbackend, deploybackend

fix: incorrect case search in mongodb boxes collection
  back/back/server/routers/devices.py
  back/back/server/routers/users.py
Due: none

fix: populate ping_history field when creating a box
  back/back/core/hermes.py
  back/back/core/ipam.py
Due: none

feat: annul_acces button
  back/back/mongodb/user_com_models.py
  back/requirements.txt
  front/src/components/AdminDashboard/User/AnnulAccesDialog.tsx
  front/src/components/AdminDashboard/User/InteropSection.tsx
  front/src/utils/DummyApi.ts
  front/src/utils/RemoteApi.ts
  front/src/utils/types/types.ts
Due: buildbackend, deploybackend

edit: update RI
  front/public/static/RI_Rezel.pdf
Due: none

feat: Generic oidc
  back/back/core/oidc.py
  back/back/core/zitadel.py
  back/back/env.py
  back/back/server/dependencies.py
  front/package-lock.json
  front/src/App.tsx
  front/src/pages/auth/LoginCallback.tsx
  front/src/pages/auth/LoginPage.tsx
  front/src/pages/auth/LogoutPage.tsx
  front/src/utils/AppStateContext.tsx
  front/src/utils/Config.ts
  front/src/utils/OIDCContext.tsx
  front/src/utils/ZitadelContext.tsx
Due: buildfrontend, deployfrontend

feat: migrate from nginx to Caddy
  front/Caddyfile
  front/Dockerfile
Due: buildfrontend, deployfrontend

fix: dev variables in prod
  front/Dockerfile
Due: buildfrontend, deployfrontend
